
body { 
  margin: 0em;
  padding: 0em;
}

.linkbox { 
  margin: 0em;
  padding: 0.5em;
  width: 100%;
  background-color: #eee;
  border-bottom: thin solid black;
}

.linkbox span {
  margin: 0em;
  padding: .3em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #eee;
  border-right: thin solid #999;
}

.linkbox span:hover {
  background-color: #fff;
}

.querybox { 
  margin: 1.5em;
  font-size: 75%;
  color: #aaa;
}

.searchbox { 
  margin: 1em;
  padding: .5em;
  background-color: #f4ffff;
  border: thin solid black;
}

.searchbox table td { 
  padding: .1em;
}

.buttonbox { 
  margin-top: 1em;
}

.buttonbox button { 
  margin-right: .5em;
}

.viewbox { 
}

.resultbox { 
  margin: .5em;
  padding: .2em;
  border-top: solid thin #ddd;
  border-bottom: solid thin #ddd;
}

.resultbox table th.header { 
  padding: .3em;
  background-color: #eee;
  border: thin solid #aaa;
}

.resultbox table th.header:hover { 
  background-color: #fff;
}

.resultbox table tr.datarow:hover { 
  background-color: #ddf;
}

.editbox { 
  margin: 1em;
}

.editbox table { 
  border: solid thin #ddd;
  background-color: #f4ffff;
}

.editbox table td.name { 
  font-weight: bold;
  text-align: right;
  padding-right: 1em;
}

.editbox table td { 
  padding-bottom: .1em;
}
.editbox table td.comment { 
  padding-bottom: .1em;
  color: #999;
}

.editbox .buttonbox { 
}

.editbox .buttonbox button { 
  margin-right: 1em;
}